
.color-greenyellow {
    color: greenyellow;
}
.color-avianca {
    color: rgb(22,20,200)
}
.color-limagreen{
    color: #32cd32;
}
.color-platzy {
    color: rgb(18,31,64);

}
.color-platzy2 {
    color: rgb(191,11,250);
}
.color-mercado {
    color: rgb(255,242,0);
}